<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <script src="https://code.angularjs.org/1.4.0-beta.0/angular.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>
</head>

<body ng-controller="MainController">
  <h1>Follow</h1>

  <div id="new-goal">
    <input type="text" required placeholder="new goal" ng-model="newItemName" />
  </div>

  <div class="goal-item">
    <div class="goal-name">{{data.name}}</div>
    <button ng-click="createNewChild(data)">Add child</button>
  </div>


  <div ng-repeat="item in data.children">
    <div class="goal-item">
      <div class="goal-name">{{item.name}}</div>
      <button ng-click="createNewChild(item)">Add child</button>
    </div>
  </div>

  <pre>{{ data | json }}</pre>
  {{ error }}
</body>

</html>
