<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <script src="https://code.angularjs.org/1.4.0-beta.6/angular.js"></script>
    <script src="https://raw.githubusercontent.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
    
    <script src="script.js"></script>
    <script src="file-reader.service.js"></script>
    <script src="file-input.directive.js"></script>
    
    <script src="new-item.modal.js"></script>

    <!-- bower:js -->
    <script src="bower_components/filesaver/filesaver.js"></script>
    <!-- endbower -->
</head>
<body ng-controller="MainController">
    <div ng-show="!data">
        <div file-input="file" on-change="readFile()"></div>
    </div>
    <div ng-show="data">
        <div class="jumbotron">
            <button class="btn btn-primary btn-lg"
                    ng-show="data.parent !== data" ng-click="goToParent(data)">
                Go to parent
            </button>
            
            <h1>{{data.name}}</h1>
            <h2>
                {{data.description}}
            </h2>

            <button class="btn btn-primary btn-lg" ng-click="addItem(data)">Add Item</button>
            <button class="btn btn-primary btn-lg" ng-click="saveData(data)">Save data</button>
        </div>

        <!--TODO: why can't these two buttons be placed below the accordion?-->
        <!--<button class="btn btn-default btn-sm" ng-click="getFile()">Load data</button>-->



        <accordion>
            <accordion-group heading="{{item.name}}" ng-repeat="item in data.children">
                {{item.description}}

                <button class="btn btn-default btn-sm" ng-click="goToItem(item)">Go to item!</button>
                <label>
                  <input type="checkbox" ng-model="item.done">
                  Done!
                </label>
            </accordion-group>
        </accordion>



        <!--<pre>{{ data | json }}</pre>-->
        {{ error }}
    </div>
</body>
</html>
